---
title: A letter to myself 10 years ago
description: I’ve been trying to write this for over 2½ years, but it’s taken until now to find the words. They’re still imperfect but it’s important to write them, so they’ll have to do.
date: 2020-01-03
tags:
  - personal
  - mental health
shortUrl: gu7y6our
---

<p>
	This is something I’ve been trying to write for over two and a half years, but I’ve never really been all that happy
	about how it’s turned out during that time. I came close in 2017, but even then I think I was so close to what I
	wanted to write about that I couldn’t see the wood for the trees.
</p>
<p>
	Maybe it’s because I’ve been giving myself a
	<em>lot</em>
	more time this past couple of years, maybe it’s because things changed fairly profoundly in May/June last year
	prompting me to think much more about my future.<br>
	Whichever way, Simon Clark’s “<a href="https://www.youtube.com/watch?v=QuaS2lTVzyM"
	>A letter to myself 10 years ago</a>” inspired me to have a bash at the format myself, and it seemed to … work.
</p>
<p>
	I’m still not 100% happy with it, but this is definitely one of those things where it’s better to publish than not, so
	this is what it is: a letter to myself 10 years ago.
</p>
<section class="pulled">
	<p>
		Hi me, it’s you. Or a potential version of you. If it helps, think of me as the third ghost from “A Christmas
		Carol”. Whichever way, things are about to get all kinds of interesting for you, so here are a few things I know now
		that I wish I’d known when I was you.
	</p>
	<p>
		Enable will go under in 9 months. It’ll be a shock, and while you’ll interview with a couple of companies, you’ll
		also be offered the perfect opportunity to go freelance.
		<br>
		And you’ll love it: you’ll love the flexibility, you’ll learn a huge amount about both yourself and new
		technologies, and you’ll work with some great people on some interesting brands.
	</p>
	<p>You’ll also burn out. Hard.</p>
	<p>
		You’re good, you’re fast, and you already have high expectations of yourself. There will be tight deadlines,
		difficult projects, and unpleasant end clients. Because you won’t want to let people down, you’ll work increasingly
		long hours in order to get projects delivered in something that at least approximates on time. At one point, you’ll
		realise the only way you can deliver a project on time is to work on less than two hours’ sleep a night. For two
		weeks straight.<br>
		And you’ll do it.
	</p>
	<p>
		You’ll first realise something is wrong in the beginning of 2015: you’ll reach the end of a long, difficult, and
		largely pointless project and you’ll feel completely exhausted. You’ll want to take some time out, but you’ll also
		be tied up in contracts and not want to let anyone down.
		<br>
		So you’ll not do anything substantiative about it: to start with you’ll reason you’ll be going on holiday soon
		enough, so you just need to get through the next couple of months until then. When you return and feel no
		better—despite having the best holiday you’ve had to date—you’ll reason that it’ll all resolve itself over time:
		maybe next week, or at the end of the next project.<br>
		Just like the apocryphal frog in the rapidly-heating water, you’ll not realise how bad it is until it’s too late.
	</p>
	<p>
		By 2017, you’ll need frequent pep-talks to get yourself going in the morning, or to get out of the car and into the
		office once you’ve driven to whichever client you’re working with at the time. You’ll take to hiding in bathrooms
		and crying when it all gets too much, and panic attacks—both minor and more intense—will become commonplace and
		leave you both unwilling and unable to leave your flat.<br>
		You’ll also begin to let people down: not clients—not yet, anyways—but friends, family, your partner. You’ll avoid
		making plans, miss social engagements, and not be there when you really should’ve been.
	</p>
	<p>
		The shoe will eventually begin to drop in summer 2018: not fully, but enough you finally realise how unwell you are
		and start to take time out to deal with it. This won’t be the end of it: you’ll have a couple of hare-brained ideas
		which will make things slightly worse, and summer 2019 will be all kinds of unpleasant for only tangentially-related
		reasons, but hopefully it’s the start of something better.
	</p>
	<p>
		That’s not to say it’s all going to be bad, in fact there are a lot of good things to look forward to: you’ll travel
		plenty, you’ll meet some incredible people, and you’ll have plenty of fun while doing it. But it will be more than a
		little overwhelmed by all the bad stuff going on at the same time.
	</p>
	<hr>
	<p>So here’s what you should do, and what I’m currently doing:</p>

	<dl>
		<dt>Work less</dt>
		<dd>
			<p>
				It probably seems obvious, but you don’t need to take on all the work that’s being offered to you, and even with
				the work you will take on, you definitely don’t need to work evenings and weekends.
			</p>
		</dd>
		<dt>Take more time off</dt>
		<dd>
			<p>
				Again this should be obvious, yet here we are. Book breaks between contracts and within long contracts. Don’t be
				afraid to take time unscheduled time off: if your clients are worth keeping they’ll understand, and if they
				don’t understand they’re not worth keeping—good will goes both ways.
			</p>
		</dd>
		<dt>Get out of marketing/advertising</dt>
		<dd>
			<p>
				You dallied with it at Carlson and you’ll return to it as a freelancer: it may be fun and creative in the
				short-term, but ultimately
				<em>none of it matters a damn</em>.<br>Far too many of the long hours you’re going to pull over the next decade
				will be for sites that precisely no-one outside your team and the end-client’s marketing manager will ever care
				about. They could disappear off the face of the planet—and many will after only a few months—and the world will
				continue to turn, people will continue to go about their lives, and you’ll have absolutely nothing but stress
				and bad posture to show for it.
			</p>
			<p>
				You’re doing good, meaningful work right now at Enable: don’t let yourself get distracted from that. It is so
				not worth it.
			</p>
		</dd>
		<dt>Talk about things</dt>
		<dd>
			<p>
				You’ll actually do this, but mostly to vent rather than anything more productive. Talk to people, weigh their
				advice, do something about it.
			</p>
		</dd>
		<dt>Get help</dt>
		<dd>
			<p>
				You’ll spend several years trying to convince yourself you can handle this by yourself, or that you aren’t
				deserving of proper help because others have it worse than you. You can’t, and ‘worse’ is subjective—you deserve
				to be happy.
			</p>
		</dd>
		<dt>Forgive yourself</dt>
		<dd>
			<p>
				Seriously: it’s not your fault, and you are
				<em>not</em>
				beholden to your past. Learn from the mistakes, move on (and if you work out how, let me know)
			</p>
		</dd>
	</dl>
	<hr>
	<p>
		Oh, and take a trip to London and give your grandmother a hug: she doesn’t have long left and you will miss her. So
		much.
	</p>
</section>
<p>
	I’m thinking about writing more about this: maybe something sooner about plans, and later about progress/how I’m
	doing. If nothing else, having spent the past several years trying to bottle everything up and pretend it’s OK, I want
	to be more open and honest with myself.
</p>
<p>
	Besides: I know I’m not the only one going through this, or something like this. Maybe this will be useful, or maybe
	it’ll just be visible.<br>
	To wit, if I’ve said anything you’re curious about, or you want to reach out for any reason—even if it’s just to say
	‘hi’—<a href="mailto:hello@jonpearse.net">please do</a>.
</p>
