---
title: Jon Pearse — Freelance full-stack web developer in Cardiff, UK
layout: base
---

<main class="home">
	<div class="container -narrow">
		<h1 class="flex">
			<span>👋</span>
			<span>
				Hi!<br>
				I’m a freelance <strong>full-stack&nbsp;developer</strong> based in <strong>Cardiff, UK</strong>.
			</span>
		</h1>

		<div class="lede">
			<p>
				I’ve been building websites for <strong>over 20 years</strong>. In that time, I’ve specialised as a <strong
				>front-end developer</strong>, but I’m equally happy getting my hands dirty with <strong>Ruby</strong>, or even
				messing around in databases.
			</p>
		</div>

		<p>
			I believe in building a more inclusive, user-first internet; in making the world suck that little bit less; saying
			no to enshittification, centralisation, and intrusive tracking; and yes to taking time, understanding the needs of
			the user, and crafting something people love.
		</p>

		<hr>

		<p>Sound good? Want to know more? <a href="mailto:hello@jonpearse.net">I’d love to hear from you</a>!</p>

		<p>Let’s build something ✨awesome✨ together!</p>
	</div>
</main>
