/* Base variables */
/* ========================================================================== */
:root {
	/* ===== COLOURS ===== */
	--colour-fg: light-dark(#333, #ced4da);
	--colour-bg: light-dark(#fff, #353b41);

	--colour-accent-1: light-dark(#e44849, hsl(360, 74%, 59%));
	--colour-accent-2: light-dark(#d14244, hsl(359, 50%, 60%));
	--colour-accent-3: light-dark(#ffe6e6, hsl(359, 50%, 90%));
	--colour-hilite: light-dark(#ffe066, hsl(48, 60%, 50%));

	/* ===== TEXT ===== */
	/* --- Sizes --- */
	--font-base: utopia.clamp(16, 20, 480, 960);
	--font-small: utopia.clamp(13, 16, 480, 960);

	--font-primary: utopia.clamp(28, 36, 480, 960);
	--font-secondary: utopia.clamp(20, 28, 480, 960);
	--font-tertiary: utopia.clamp(18, 22, 480, 960);

	/* --- Weights --- */
	--weight-norm: 350;
	--weight-semi: 500;
	--weight-bold: 600;

	/* Render normal text _slightly_ lighter in dark mode… */
	--weight-norm-dk: 300;
}

/* Adjustments based on browser preference, via the OS */
/* ========================================================================== */
:root {
	color-scheme: light dark;

	@media (prefers-color-scheme: dark) { --weight-norm: var(--weight-norm-dk); }
}
