@scope (.header) {
	:scope {
		padding-block: .75rem;
		border-block-start: .25rem solid #000;
		border-block-end: 1px solid #0005;
	}

	.logomark {
		inline-size: 100%;
		max-inline-size: 8.375rem;
		aspect-ratio: 134/21;
		fill: currentColor;

		svg { inline-size: 100%; }
	}

	/* ========================================================================== */
	/* # Navigation is fun! */
	/* ========================================================================== */

	/* Cross-viewport styles */
	nav {
		border: 0;
		background: transparent;

		a { text-decoration: none; }
	}

	/* Small viewports get a popover, thus… */
	@media (width < 480px) {
		.trigger-nav, .close {
			--padding: .25rem;
			--size: 1.4rem;
		}

		nav {
			--tx: .15s;

			position: fixed;
			inset: 0 0 0 auto;
			block-size: auto;
			inline-size: min(80vw, 15rem);
			padding: 4.5em 1rem;
			border: 0;
			border-block-start: .25rem solid #000;

			background: var(--colour-bg);
			box-shadow: 0 0 1rem 0 #0004;

			/* Handle some nice transitioning */
			opacity: 0;
			transform: translateX(100%);
			transition:
				transform var(--tx) ease,
				opacity var(--tx) ease,
				display var(--tx) ease allow-discrete,
				overlay var(--tx) ease allow-discrete;

			&::backdrop {
				background: #0000;
				backdrop-filter: blur(0);

				transition: background var(--tx), backdrop-filter var(--tx);
			}

			/* Open styles */
			&:popover-open {
				transform: translateX(0);
				opacity: 1;

				&::backdrop {
					background: #0001;
					backdrop-filter: blur(4px);
				}

				@starting-style {
					opacity: 0;
					transform: translateX(100%);

					&::backdrop {
						background: #0000;
						backdrop-filter: blur(0);
					}
				}
			}
		}

		.nav-list {
			flex-direction: column;
			align-items: stretch;
			font-size: var(--font-tertiary);
		}

		.close {
			position: absolute;
			inset-block-start: .75rem;
			inset-inline-end: var(--inline-padding);
		}
	}

	/* Larger viewports: just a simple nav */
	@media (width >= 480px) {
		.trigger-nav, .close { display: none; }

		nav {
			position: static;
			inset: unset;

			display: flex;
		}

		.nav-list { gap: 2rem; }
	}
}
