/*
	==========================================================================
	#
	# ‘Prose’ styles for long-form writing
	#
	==========================================================================
*/

@scope (.prose) {
	:scope {
		--pulled-inline-padding: utopia.clamp(16, 64, 480, 1160);

		--pulled-bg: rgb(0, 0, 0, .1);
		--table-border-color: rgba(255, 255, 255, .15);
		--inline-code-bg: rgba(0, 0, 0, .1);
		--inline-code-sh: rgba(0, 0, 0, .2);

		@supports (color: light-dark(black, white)) {
			--pulled-bg: light-dark(#e4484911, #0001);
			--table-border-color: light-dark(
				rgb(0 0 0 / 25%),
				rgb(255 255 255 / 15%)
			);
			--inline-code-bg: light-dark(rgb(0 0 0 / 3%), rgb(0 0 0 / 10%));
			--inline-code-sh: light-dark(transparent, rgb(0 0 0 / 20%));
		}
	}

	/* Lists */
	/* ========================================================================== */
	ul, ol {
		--inset: 2rem;
		margin: 1rlh 0;
		padding: 0;
		padding-inline-start: var(--inset);
		list-style: none;
		counter-reset: --listTop;

		li {
			position: relative;

			&::before {
				position: absolute;
				inset-inline-start: calc(.5rem - var(--inset));

				display: inline-block;
				color: var(--colour-hint-1);
				content: "";
			}

			+ li { margin-top: .5rlh; }
		}

		& > li { counter-increment: --listTop; }

		ul, ol {
			--inset: 1.6rem;
			margin: 0;
			counter-reset: --listNest;

			& > li { counter-increment: --listNest; }
		}
	}

	ul > li::before {
		inset-block-start: .75rem;
		size: .5rem;
		border-radius: 100%;
		background: currentcolor;
	}
	li ul > li::before {
		inset-block-start: .9rem;
		block-size: var(--weight-ul);
		border-radius: 0;
	}

	ol > li::before {
		inset-block-start: .25rem;
		font-size: var(--font-small);
		font-weight: var(--weight-ol);
		font-variant-numeric: oldstyle-nums;

		content: counter(--listTop, decimal) ".";
	}
	ol ol > li::before { content: counter(--listNest, lower-alpha) "."; }
	ul ol > li::before { content: counter(--listNest, decimal) "."; }

	/* Definition lists */
	/* ========================================================================== */
	dl {
		margin: 1rlh 0;

		dt { font-weight: var(--weight-semi); }
		dd { margin: .2rlh 0 0; }
		dd + dt { margin-block-start: 1.5rlh; }
	}

	/* HRs are kinda boring and we can do better */
	/* ========================================================================== */
	hr { margin-block: 2.5rlh; }

	/* Nice pullquotes */
	/* ========================================================================== */
	blockquote {
		position: relative;
		margin: 2rlh 0;
		padding-inline: var(--pulled-inline-padding);

		&::before,
		&::after {
			position: absolute;

			font-size: 200%;
			color: var(--colour-accent-2);
			opacity: .8;
		}

		&::before {
			inset-block-start: -.3em;
			inset-inline-start: clamp(-1rem, -2.4118rem + 4.7059vw, 1rem);

			content: "\275D";
		}

		p:first-child { margin-block-start: 0; }
		p:last-child { margin-block-end: 0; }
	}

	blockquote {
		font-weight: var(--weight-bold);
		font-size: var(--font-tertiary);
		font-family: var(--tf-heading);
	}

	.pulled {
		padding: clamp(1rlh, .3493rem + 2.7941vw, 2rlh)
			var(--pulled-inline-padding);
		margin-block: 3rlh;
		margin-inline: clamp(-.625rem, -2.5rem + 6.25vw, 0rem);
		background: var(--pulled-bg);
		border-radius: 1rem;
	}

	/* Tables */
	/* ========================================================================== */
	table { border-collapse: collapse; }
	th, td { padding: .1rem .5rem; }

	thead th {
		padding-block: .15rem;
		border-block-end: 1px solid var(--table-border-color);
	}
	tbody th { border-inline-end: 1px solid var(--table-border-color); }

	/* Inline quote */
	/* ========================================================================== */
	p code {
		padding-inline: .3rem;
		background: var(--inline-code-sh);
		text-shadow: 1px 1px 1px var(--inline-code-bg);
	}

	/* Tombstone */
	/* ========================================================================== */
	& > p:last-child::after {
		display: inline-block;
		break-before: avoid;
		vertical-align: middle;
		margin-inline-start: .6em;

		color: var(--colour-hint-1);

		line-height: 1;
		content: "\2756";
	}
}
